body {
    background-color: #100b16;
    color: rgb(90, 34, 180);
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    background-color: #1e112a;
    border: 3px solid #a855f7;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px #7e22ce;
}

h2 {
    color: #d8b4fe;
    font-size: 32px;
    border-bottom: 2px solid #7e22ce;
    padding-bottom: 10px;
    margin-top: 40px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

iframe {
    width: 360px;
    height: 215px;
    border: 2px solid #7e22ce;
    border-radius: 10px;
}